body{
   background-color: rgb(203, 229, 253);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(20, 150, 173);
  }
  
  .active {
    background-color: #0f0c9e;
  }
.paraf{
    color: #3a6a92;
    display: justify;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    font-size: 40;
    padding:auto;
    font-family: "Palatino Linotype", "Book Antiqua",  serif;
    
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:auto;
    grid-gap: 10px;
}

.slika{
    height: 350px;
    width: 350px;
}

.king{
    padding: 50px;
}

.queen{
    padding:50px;
}

.singl{
    padding: 50px;
}

.proba{
    padding:50px;
}

.opis{
    color: #214969;
    font-family: "Palatino Linotype", "Book Antiqua",  serif;
    font-style: italic;
    font-size: 20px;
}
.slika2{
    width:100%;
}



input[type=text] {
  width: 300px;
}

form{
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formtitle{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div-1{
  width: 100%;
  
  height: 100vh;
  
  color: black;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}